<div class="container">
  <section class="card my-3">
    <div class="card-body">
      <h5 class="card-title">Create new todo</h5>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter todo"
                 [(ngModel)]="newTask"
                 (keyup.enter)="addTask()"
          >
          <div class="input-group-append">
            <button type="button" class="btn btn-primary" (click)="addTask()">
              Add new todo
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col" width="50%">Task</th>
        <th scope="col" width="15%">Date</th>
        <th scope="col" class="text-center">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of tasks; let i = index" [class.table-success]="task.completed">
        <td>{{i + 1}}</td>
        <td>{{task.name}}</td>
        <td>{{formatDate(task.date)}}</td>
        <td>
          <button type="button" class="btn mr-3 btn-success" [class.btn-warning]="task.completed"
                  (click)="toggleCompleted(task)">
            {{task.completed ? 'Un-Done' : 'done'}}
          </button>

          <button type="button" class="btn btn-danger" (click)="deleteTask(index)">
            Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</div>
