<div class="container">
  <h1 class="text-center my-3">Angular Todo App</h1>
  <section class="card my-3">
    <div class="card-body">
      <h5 class="card-title">Create new todo</h5>
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter todo"
                 [(ngModel)]="newTask"
                 (keyup.enter)="addTask()"
          >
          <div class="input-group-append">
            <button type="button" class="btn btn-primary" (click)="addTask()">
              Add new todo
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <ul class="list-group">
      <app-task-item *ngFor="let task of tasks"
        [task]="task"
        [index]="index"
        (clickedDelete)="deleteTask(index)"
        (clickedToggle)="toggleCompleted(task)"
      >
      </app-task-item>
    </ul>
  </section>
</div>
